version: '3.8'
services:
  api:
    build:
      context: .
      dockerfile: Dockerfile.api
    ports:
      - "8000:8000"
    environment:
      - MODEL_TYPE=poly2  # Cambiar a 'linear', 'poly2', o 'poly3'
    volumes:
      - ./models:/app/models
    command: uvicorn src.api:app --host 0.0.0.0 --port 8000 --reload
